<div>
  <div>
    <h1>
      Add new artists
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new artist
    </h2>

    <form action="/insert_artist" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="genre_box">
          Genre
        </label>

        <input type="text" id="genre_box" name="query_genre">
      </div>

      <button>
        Create artist
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Name
        </th>

        <th>
          Genre
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_artists.each do |an_artist| %>
      <tr>

        <td>
          <%= an_artist.name %>
        </td>

        <td>
          <%= an_artist.genre %>
        </td>

        <td>
          <a href="/artists/<%= an_artist.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
