<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Concert Tracker
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if @current_user == nil %>
      <div>
        <a href="/user_sign_up">
          Sign Up
        </a>
      </div>
      <div>
        <a href="/user_sign_in">
          Sign In
        </a>
      </div>
      <% else %>
      <div>
        <a href="/user_sign_out">
          Sign Out
        </a>
      </div>
    <% end %>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <% if @current_user == nil %>
        <% else %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%# <a href="/interests" class="dropdown-item">
              Interests
            </a> %>
            <%# <a href="/tours" class="dropdown-item">
              Tours
            </a> %>
            <a href="/artists" class="dropdown-item">
              Add New Artists
            </a>
            <%# <a href="/follows" class="dropdown-item">
              Follows
            </a> %>
            <a href="/concerts" class="dropdown-item">
              Add New Concerts
            </a>
            <a href="/saved_concerts" class="dropdown-item">
              Saved Concerts
            </a>
            <a href="/user_profile" class="dropdown-item">
              User Profile
            </a>
            <a href="/view_all" class="dropdown-item">
              View All Concerts and Artists
            </a>
            <a href="/" class="dropdown-item">
              Home
            </a>
          </div>
        <% end %>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>