<h1>My Profile</h1>

<div>
  Home City: <%= @current_user.home_city %>
</div>

<div>
  Phone Number: <%= @current_user.phone_number %>
</div>

<div>
  Name: <%= @current_user.name %>
</div>

<hr>

<h4> Update your information here: </h4>

<div>
  <form action="/modify_home_city" method="post">
    
    <label for="home_city_box">Home city</label>
    <input id="home_city_box" name="query_home_city" placeholder="Enter a new home city">

    <button>
        Update home city
    </button>
  </form>
</div>

<div>
  <form action="/modify_phone_number" method="post">
    
    <label for="phone_number_box">Phone Number</label>
    <input id="phone_number_box" name="query_phone_number" placeholder="Enter a new phone number">

    <button>
        Update phone number
    </button>
  </form>
</div>

<div>
  <form action="/modify_name" method="post">
    
    <label for="name_box">Name</label>
    <input id="name_box" name="query_name" placeholder="Enter a new name">

    <button>
        Update name
    </button>
  </form>
</div>

<hr>

<div>
  See all your saved concerts <a href="/interests">here</a>.
<div>